body {
    margin: 60px auto;
    width: 50%;
   background color: #E0E0E0; 
}

.nav{
    border:2px solid #ccc;
    border-width:2px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    }
.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h2{
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p a{
    font-size: 1.2em;
    line-height: 1.2em;
    color: #ED752B;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .1em;
}
